* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    min-width: 0px;
}

:root {
    --accent: #D6B970;
}

html {
    scrollbar-color: #444 var(--accent);
}

body {
    min-height: 100dvh;
    background-color: var(--accent);
}

.wrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
    flex-grow: 0;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        background-color: var(--accent);
        width: fit-content;
        padding: 10px 20px;
        border-radius: 0px 0px 50px 50px;
        box-shadow: 0px 1px 10px 0px black;
    }
}

main {
    flex: 1;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#recipes-list {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.recipe-card {
    border-radius: 10px;
    min-width: 200px;
    width: 300px;

    border: 1px solid #ffffff66;
    box-shadow: 1px 4px 10px 0px #222222;
    overflow: hidden;
    object-fit: contain;
    user-select: none;
    transition: filter 1s ease-in-out;

    &:hover {
        filter: brightness(35%);
    }
}

.tooltip {
    flex: 0 0 auto;
    position: sticky;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0px;

    div {
        background-color: var(--accent);
        width: fit-content;
        text-align: justify;
        padding: 30px;
        border-radius: 50px 50px 0px 0px;
        box-shadow: 0px -5px 8px -5px black;
    }

    .title {
        max-width: 50%;
        z-index: 11;
        padding: 15px 20px 10px 20px;
    }

    .description {
        max-width: 70%;
    }
}
