:root {
  --accent: #d7d405;
  --bg-dark: #1f2937;
  --bg-light: #fff;
  --text-light: #eee;
  --text-dark: #1f2937;
  --shadow-dark: 0px 1px 10px black;
}

* {
  margin: 0;
  padding: 0;
  min-width: 0px;
  min-height: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  scrollbar-color: var(--accent) var(--bg-dark);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: var(--bg-dark);
  padding: 20px 0px;
  box-shadow: var(--shadow-dark);
}

main {
  flex: 1;
  padding-top: 61px;
}

footer {
  background-color: var(--bg-dark);
  padding: 20px;
  color: var(--text-light);
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  color: var(--text-light);
  text-decoration: underline;
}

nav ul {
  list-style: none;

  li {
    display: inline-block;
    margin-left: 20px;

    a {
      font-size: 12px;
      text-decoration: none;
      color: var(--text-light);
    }
  }
}

.hero {
  padding-bottom: 0;
  background-color: var(--bg-dark);

  .container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    flex-wrap: wrap;

    .hero-left-cnt {
      display: flex;
      flex-direction: column;
      flex: 1 1 300px;
      justify-content: space-between;
      padding-bottom: 24px;
      gap: 24px;
    }

    h1 {
      margin-bottom: 10px;
      color: var(--text-light);
    }

    p {
      color: var(--text-light);
    }

    a {
      text-decoration: none;
      background-color: var(--accent);
      color: var(--text-dark);
      padding: 10px 20px;
      cursor: pointer;
      font-size: 1em;
      align-self: center;
    }

    img {
      aspect-ratio: 4 / 3;
      flex: 1 1 300px;
      border-radius: 50px 50px 0 0;
    }
  }
}

.info .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    flex: 1;
  }

  .info-illustrations {
    display: flex;
    flex-wrap: wrap;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin: 10px;
        margin-bottom: 5px;
        width: min(20dvh, 20dvw);
        height: min(20dvh, 20dvw);
        border: 2px solid var(--accent);
        border-radius: 10px;
      }
    }
  }
}

.quote {
  background-color: var(--text-light);
  padding: 10px;
  width: 100%;
  margin: 10px 0px;

  .container {
    display: flex;
    flex-direction: column;

    cite {
      align-self: flex-end;
      display: block;
      width: 50%;
    }

    p {
      align-self: flex-end;
    }
  }
}

.container {
  .call-to-action {
    margin: 20px 0px;

    background-color: var(--bg-dark);
    border-radius: 50px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    button {
      flex-shrink: 0;
      white-space: nowrap;
      background-color: var(--accent);
      color: var(--text-dark);
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 1em;
      border-radius: 10px;
    }

    p {
      color: var(--accent);
    }
  }
}
